@model Clinique.Domain.Models.Ordonnance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ordonnance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recommandations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recommandations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateC)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
