@model PaginatedList<Clinique.Domain.Models.Docteur>

@inject IViewLocalizer localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDoc.cshtml";
}

<h1>@SharedLocalizer["Index"]</h1>

<p>
    <a class="btn btn-danger" asp-action="Create">@SharedLocalizer["Create new"]</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            @SharedLocalizer["Filter by name:"] <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-danger" /> |
            <a asp-action="Index" class="text-danger">@SharedLocalizer["Back to the list"]</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a class="text-danger" asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParm"]">@*@Html.DisplayNameFor(model => model.Id)*@Id</a>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.NomM)*@ @*@localizer("Nom")*@Nom
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PrenomM)*@ @*@localizer("Prenom")*@Prénom
            </th>
            <th>
                <a class="text-danger" asp-action="Index" asp-route-sortOrder="@ViewData["SpecSortParm"]">@*@Html.DisplayNameFor(model => model.Specialite)*@Spécialité</a>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Ville)*@Ville
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Adresse)*@Adresse
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Niveau)*@Niveau
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrenomM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specialite.Titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ville)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Niveau)
                </td>
                <td>
                    <a class="text-danger" asp-action="Edit" asp-route-id="@item.Id">@SharedLocalizer["Edit"]</a> |
                    <a class="text-danger" asp-action="Details" asp-route-id="@item.Id">@SharedLocalizer["Details"]</a> |
                    <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">@SharedLocalizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-danger @prevDisabled">
    @SharedLocalizer["Previous"]
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-danger @nextDisabled">
    @SharedLocalizer["Next"]
</a>